body{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #f8f4ed;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #b2876f;
  outline: none;
  font-family: 'Piazzolla', serif;
  z-index: 99999;
}

.topnav a {
  text-transform: uppercase;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  color: white;
  background: #c9a487;
}

.topnav a:hover{
  background: #b2876f;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.parallax{
    padding: 100px 35px;
    background: transparent;
    pointer-events: none;
    height: 350px;
}

@media(max-width: 767px){
  .parallax {
    background-attachment: fixed;
    background-size: contain;
  }
}

.info{
  z-index: 2;
  position: relative;
  color: white;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .24em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center; 
}


#content3{
  padding-top: 4rem;
  text-align: center;
}


#content3 .wrapper {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 7%;
  padding-top: 1%;
  text-align: justify;
}

.paragraph{
  font-family: 'Piazzolla', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
    color: #292929;
    
}

.thumbnails{
  width: 30%;
  height: auto;
  float: left;
  margin: 10px;
  background: #f8f4ed;
  box-sizing: border-box;
  z-index: 99999;  
}

.thumbnails img{
  width: 100%;
  height: 285.188px;
  object-fit: cover;
}

@media screen and (max-width: 765px){
  .thumbnails{
    width: 100%;
  }
}

#topBtn{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size:22px;
  width: 50px;
  height: 50px;
  background: #b2876f;
  color: #f8f4ed;
  border-radius: 25px;
  border:none;
  cursor: pointer;
  outline:none; 
  display: none;
  z-index: 999999;
  box-shadow: 1px 1px 1px 1px transparent;
  opacity: 0.3;
}

#topBtn:hover{
  opacity: 1;
}

h1{
  text-align: center;
  line-height: 1em;
  font-size: 40px;
  font-weight: lighter;
  font-family: 'Piazzolla', serif;
}

h2 {
  font-size: 25px;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: italic;
}

.time{
  text-align: center;
  font-weight: lighter;
  font-family: 'Piazzolla', serif;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  font-size: 1.6em;
  padding-bottom: 12px;
  margin-bottom: 30px;
  width: 80%;
  margin:auto;
  text-transform: uppercase;
}

  p {
    text-align: justify;
    font-family: 'Piazzolla', serif;
  }

article {
  -moz-columns: 4;
  -webkit-columns: 4;
  columns: 4;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  line-height: 1.5em;
  font-size: 1em;
  padding: 50px;
  -webkit-column-rule: 2px outset #444;
  -moz-column-rule: 2px outset #444;
  column-rule: 2px outset #444;
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 800px){
  article {
    columns: 1;
    width: 70%;

}

}

p1{
  font-family: 'Piazzolla', serif;
  font-size: 14px; 
}

.parallax{
    background: transparent;
    pointer-events: none;
    height: 50px;
    width: 80%;
    margin: auto;
}

@media(max-width: 767px){
  .parallax {
    background-attachment: fixed;
    background-size: contain;
  }
}


#header2{
    width: 70%;
    font-size: 30px;
    text-align: center;
    color:black;
    margin: auto;
    font-family:'Piazzolla', serif;
    padding: 2%;

}
.animation{
    font-size: 30px;
    height: 30px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}
@keyframes an{
    from{
        opacity: 0;
        transform: perspective(400px) translate3d(-35px, -40px, -130px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(400px) translate3d(0, 0, 0);
    }
}

@media screen and (max-width: 400px){
  .animation{
    font-size: 17px;
  }
  #header2{
    font-size: 20px;
  }
}