body{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0px;
}

.topnav {
  overflow: hidden;
  background-color: #f8f4ed;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid #b2876f;
  outline: none;
  font-family: 'Piazzolla', serif;
  z-index: 9999;
}

.topnav a {
  text-transform: uppercase;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  color: white;
  background: #c9a487;
}

.topnav a:hover{
  background: #b2876f;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.parallax{
    background: transparent;
    pointer-events: none;
    height: 550px;
}

@media(max-width: 767px){
  .parallax {
    display: none;
  }

  .arrow-down{
    display: none;
  }
}

.info{
  z-index: 2;
  position: absolute;
  color: #f8f4ed;
  font-size: 30px;
  font-family: 'Piazzolla', serif;
  text-align: justify;
  padding:15%;
  text-shadow: 2px 2px 2px black;
}

#content3{
  padding-top: 4rem;
  text-align: center;
}


#content3 .wrapper {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 7%;
  padding-top: 1%;
  text-align: justify;
}

.paragraph{
    font-family: 'Piazzolla', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0em;
    line-height: 1.2em;
    text-transform: none;
    color: #292929;
    
}

.thumbnails{
  width: 12%;
  height: 200px;
  float: left;
  margin: 20px;
  background: #f8f4ed;
  box-sizing: border-box;
  z-index: 99999; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.thumbnails img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 765px){
  .thumbnails{
    width: 100%;
  }
}

svg {
    max-width: 30px;
    margin: 0 auto;
    text-align: center;
    width: 30px;
    max-height: 40px;
    display: block;
}

.arrow-down path {
  stroke: #b2876f;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:.8}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:.8}
80% {opacity:0}
100% {opacity:0}
}

.arrow-down path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrow-down path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrow-down path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

#topBtn{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size:22px;
  width: 50px;
  height: 50px;
  background: #b2876f;
  color: #f8f4ed;
  border-radius: 25px;
  border:none;
  cursor: pointer;
  outline:none; 
  display: none;
  z-index: 999999;
  box-shadow: 1px 1px 1px 1px transparent;
  opacity: 0.3;
}

#topBtn:hover{
  opacity: 1;
}


.container {
  width: 60%;
  margin:auto;
  text-align: center;
  font-family: 'Piazzolla', serif;
}


p:nth-of-type(1):first-letter {
  color: #b2876f;
  font-size: 39px;
  line-height: 82px;
  font-family: 'Piazzolla', serif;
}

.large-text{
  font-size: 25px;
  border-bottom: 3px solid grey;
  cursor: default;

}

.small-text{
  font-size: 15px;
  cursor: default;
  text-align: justify;
  transition-duration: 1.5s;
}

.more{
  display: none;
}

button{
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
  color: #b2876f;
  border: none;
  font-weight: bolder;
  outline: none;
  font-family: 'Piazzolla', serif;
  font-size: 15px;
}

h1{
  text-align: center;
  font-family: 'Piazzolla', serif;
  font-weight: lighter;
}

#myImg{
  float:right; 
  padding: 0px 0px 20px 20px;
  width: 300px; 
  height: 200px;
  pointer-events: auto;
  object-fit: cover;
}

#myImg1{
  float:left; 
  padding: 0px 20px 20px 0px;
  width: 300px; 
  height: 200px;
  pointer-events: auto;
  object-fit: cover;
}

@media screen and (max-width: 505px){
  #myImg, #myImg1{
  float: none;
  width: 80%; 
  object-fit: cover;
  }
    
  .container{
    width: 80%;
  }

}


#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  margin-top: -1px;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  pointer-events: none;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 950px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  pointer-events: auto;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #b2876f;
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2876f; 
  border-radius: 10px;
  opacity: 0.5;
}